header {
    height: 100px;
    background-color: black;
    padding: 25px 50px;

}
.logo, .main-nav {
    background: white;
    height: 100%;
    
}

.logo {
    width: 100px;
    float: left;
}

.main-nav {
    width: 250px;
    float: right;
}

.main-container {
    background-color: black;
    height: 300px;
    width: 600px;
    margin: 100px auto 0;
    padding: 25px 50px
}

.box-one,
.box-two {
    background: white;
    height: 50px;
    margin: 20px auto;


}

.box-one {
    width: 500px;
}
.box-two {
    width: 400px;
    
}

.button-one, 
.button-two {
    background: white;
    height: 40px;
    width: 200px;
    display: inline-block;
    border-radius: 50px;
}
.button-one {
    float: left;
    margin: 20px 0px 20px 90px;
}
.button-two {
    float: right;
    margin: 20px 90px 20px 0px;
}